# .NET/Microsoft Build Artifacts
bin/
obj/

# .NET User Secrets
secrets.json

# Rider
.idea/
*.sln.iml
.idea_modules/
.idea/workspace.xml
.idea/dictionaries
.idea/shelf/
.idea/httpRequests/

# Visual Studio
.vscode/
.vs/
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json
*.user
*.suo
*.csproj.user
*.sln.docstates

# Visual Studio Code
.vscode/
.vscode/launch.json
.vscode/settings.json

# macOS specific
.DS_Store

# Windows specific
Thumbs.db
Desktop.ini

# Build output for iOS
# Ignoring because these are specific to iOS build artifacts
*.ipa
*.app
*.dSYM
# User specific iOS build settings
xcuserdata/
DerivedData/

# Build output for Android
*.apk
*.aab
*.ap_

# Local build files
.localhistory/

# Log files
*.log

# Xamarin/Maui specific
*.db
*.db-shm
*.db-wal
*.lock.json

# .NET specific
project.lock.json
project.fragment.lock.json
artifacts/

# App Secrets
appsettings.Local.json
appsettings.*.json
appsettings.Development.json
appsettings.Production.json

.fake